*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(248, 244, 239);
}

.top-section-container{
    height: 320px;
    width: 320px;
    margin: 20px auto;
    overflow: hidden;
}

.header-photo {
        /* width: 100%;
        height: 100%; */
    z-index: 1;
    position: static;
    
}

.top-section-text {
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.top-section-text h1{
    font-size: 5rem;
    color: rgb(255, 221, 85);
    font-weight: 700;   
}

.FAQs {
    text-align: center;
    margin: 40px auto;
    font-size: 1.5rem;
}

.FAQ-question {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 2px;
}


.FAQ-answer {
    margin-bottom: 20px;   
}