@font-face {
    font-family: 'The_Seasons';
    src: url('../assets/fonts/fontspring-demo-theseasons-reg-webfont.woff2') format('woff2'),
         url('../assets/fonts/fontspring-demo-theseasons-reg-webfont.woff') format('woff');
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(248, 244, 239);
}

.top-section-container{
    height: 133vw;
    position: relative;
}

.header-photo {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top-section-text {
    z-index: 5;
    position: relative;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.top-section-text h1{
    font-size: 10vw;
    line-height: 0.6;
    color: white;
    font-weight: 300;
    /* font-style: italic; */
    font-family: 'The_Seasons';
}

.top-section-text h2{
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 100;
    color: white;
    font-family: 'The_Seasons';
}

.top-section-text span{
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
}

.top-section-text h3{
    font-size: 2.5vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: rgb(255, 221, 85);
    line-height: 0.4;
}

.bible-quote {
    position: relative;
    text-align: center;
    color: rgb(255, 102, 196);
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

#general-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    align-items: center;
    max-width: 100%;
}

.greeting-message {
    font-family: "Playfair Display", serif;
    font-size: 6vw;
    font-weight: 400;
    text-align: center;
    max-width: 75%;
    color: rgb(255, 145, 77);
    line-height: 0.9;
    letter-spacing: -0.06em;
}

.basic-info {
    display: flex;
    justify-content: space-evenly;
    margin: 10% auto;
    width: 100%;
    text-align: center;
}

.basic-info p {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    width: 60%;
}

#more-info {
    max-width: 100%;
}

.grid-container {
    min-width: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.RSVP-button {
    text-align: center;
    position: relative;
}

.RSVP-button a{
    font-size: 8rem;
    font-family: "Playfair Display", serif;
    font-size: 600;
    color: rgb(255, 102, 196);
    font-weight: 700;
    line-height: 0;
    text-decoration: none;
    /* border: 3px solid;
    border-radius: 25px; */
    transition: color 0.3s ease;
}

.RSVP-button a:hover{
    color: rgb(243, 124, 197);
}

.landing-image {
    min-width: 0;
    width: 100%;
    height: 30em;
}

.day-details {
    margin: 0px 2em;
}

.day-details p, b{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.08em;
    line-height: 1.5em;
}

.day-details p{
    font-weight: 300;
}

.bible-quote2 {
    text-align: center;
    color: rgb(255, 102, 196);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10em;
}