*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.top-section-container{
    height: 56vw;
}

.header-photo {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.top-section-text {
    z-index: 5;
    position: relative;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.top-section-text h1{
    font-size: 10vw;
    color: white;
    font-weight: 300;
}

.top-section-text h2{
    font-size: 3vw;
    font-weight: 100;
    color: yellow;
}